{% extends 'base.jinja2' %}

{% block subtitle %}All the things{% endblock subtitle %}

{% block content %}
<ul>
    {% for task in tasks %}
    <li>
       {{ task.name }} {% if task.done %} Done on {{ task.done }} by {{ task.done_by.name }} {% else %} Not done {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}