
{% extends 'base.jinja2' %}

{% block subtitle %}Add a task{% endblock subtitle %}

{% block content %}
<form method="POST">
    <label for="task-name">Task: </label><input type="text" id="task-name" name="task-name">
    <input type="submit" value="Add Task">
</form>
{% endblock content %}